.logo[data-v-04b66534] {
	margin-top: -100px;
	margin-bottom: 30px
}

.hero.is-success[data-v-04b66534] {
	background: #f2f6fa
}

.hero.is-success .nav[data-v-04b66534],
.hero .nav[data-v-04b66534] {
	-webkit-box-shadow: none;
	box-shadow: none
}

.hero-body[data-v-04b66534] {
	padding-top: 0;
	background: #f2f6fa
}

.box[data-v-04b66534] {
	margin-top: 5rem
}

.avatar[data-v-04b66534] {
	margin-top: -70px;
	padding-bottom: 20px
}

.avatar img[data-v-04b66534] {
	padding: 5px;
	background: #fff;
	border-radius: 50%;
	-webkit-box-shadow: 0 2px 3px rgba(10, 10, 10, .1), 0 0 0 1px rgba(10, 10, 10, .1);
	box-shadow: 0 2px 3px rgba(10, 10, 10, .1), 0 0 0 1px rgba(10, 10, 10, .1)
}

input[data-v-04b66534] {
	font-weight: 300
}

p[data-v-04b66534] {
	font-weight: 700
}

p.subtitle[data-v-04b66534] {
	padding-top: 1rem
}

.button.is-large[data-v-04b66534] {
	font-size: 17px;
	font-weight: 300;
	height: 50px;
	text-transform: uppercase
}

.input.is-large[data-v-04b66534],
.textarea.is-large[data-v-04b66534] {
	font-size: 17px;
	height: 50px;
	-webkit-box-shadow: none;
	box-shadow: none
}

body[data-v-ea2e694a],
html[data-v-ea2e694a] {
	font-family: Open Sans, serif;
	font-size: 14px;
	font-weight: 300
}

.logo[data-v-ea2e694a] {
	margin-top: -100px;
	margin-bottom: 30px
}

.hero.is-success[data-v-ea2e694a] {
	background: #f2f6fa
}

.hero.is-success .nav[data-v-ea2e694a],
.hero .nav[data-v-ea2e694a] {
	-webkit-box-shadow: none;
	box-shadow: none
}

.hero-body[data-v-ea2e694a] {
	padding-top: 0
}

.box[data-v-ea2e694a] {
	margin-top: 5rem
}

.avatar[data-v-ea2e694a] {
	margin-top: -70px;
	padding-bottom: 20px
}

.avatar img[data-v-ea2e694a] {
	padding: 5px;
	background: #fff;
	border-radius: 50%;
	-webkit-box-shadow: 0 2px 3px rgba(10, 10, 10, .1), 0 0 0 1px rgba(10, 10, 10, .1);
	box-shadow: 0 2px 3px rgba(10, 10, 10, .1), 0 0 0 1px rgba(10, 10, 10, .1)
}

input[data-v-ea2e694a] {
	font-weight: 300
}

p[data-v-ea2e694a] {
	font-weight: 700
}

p.subtitle[data-v-ea2e694a] {
	padding-top: 1rem
}

.button.is-large[data-v-ea2e694a] {
	font-size: 17px;
	font-weight: 300;
	height: 50px;
	text-transform: uppercase
}

.input.is-large[data-v-ea2e694a],
.textarea.is-large[data-v-ea2e694a] {
	font-size: 17px;
	height: 50px;
	-webkit-box-shadow: none;
	box-shadow: none
}

.shadow-text[data-v-ea2e694a] {
	opacity: .9;
	font-weight: 300;
	margin-right: 10px
}

.hero.is-success[data-v-249ceee5] {
	background: #f2f6fa
}

.hero.is-success .nav[data-v-249ceee5],
.hero .nav[data-v-249ceee5] {
	-webkit-box-shadow: none;
	box-shadow: none
}

.box[data-v-249ceee5] {
	margin-top: 5rem
}

.avatar[data-v-249ceee5] {
	margin-top: -70px;
	padding-bottom: 20px
}

.avatar img[data-v-249ceee5] {
	padding: 5px;
	background: #fff;
	border-radius: 50%;
	-webkit-box-shadow: 0 2px 3px rgba(10, 10, 10, .1), 0 0 0 1px rgba(10, 10, 10, .1);
	box-shadow: 0 2px 3px rgba(10, 10, 10, .1), 0 0 0 1px rgba(10, 10, 10, .1)
}

input[data-v-249ceee5] {
	font-weight: 300
}

p[data-v-249ceee5] {
	font-weight: 700
}

p.subtitle[data-v-249ceee5] {
	padding-top: 1rem
}

.navbar[data-v-249ceee5] {
	height: 70px
}

.column[data-v-249ceee5] {
	padding-left: 0;
	padding-right: 0;
	padding-top: 0
}

.gravatar-icon[data-v-249ceee5] {
	border-radius: 99px;
	margin-right: 10px
}

.gravatar[data-v-249ceee5] {
	margin-right: 8px;
	float: left;
	border-radius: 99px
}

.name-style[data-v-249ceee5] {
	text-transform: capitalize;
	font-weight: 500;
	font-size: 16px;
	margin-right: 10px
}

.with-sep[data-v-249ceee5] {
	border-right: 1px solid rgba(0, 0, 0, .1)
}

.logout-btn[data-v-249ceee5] {
	background-color: #fff;
	font-weight: 700;
	text-transform: uppercase;
	font-size: 14px;
	color: grey !important
}

.online-text[data-v-249ceee5] {
	color: #00d1b2;
	margin-top: 25px
}

.card[data-v-249ceee5] {
	height: 80px;
	padding-top: 0;
	box-shadow: none;
	-webkit-box-shadow: none;
	border-top: 1px solid rgba(0, 0, 0, .05);
	cursor: pointer;
	-webkit-transition: background-color .3s ease-in-out;
	transition: background-color .3s ease-in-out
}

.section[data-v-249ceee5] {
	padding-top: 110px
}

.card-hoverable[data-v-249ceee5]:hover {
	background-color: rgba(0, 0, 0, .01)
}

.card-selected[data-v-249ceee5] {
	background-color: rgba(0, 0, 0, .015)
}

.card-content[data-v-249ceee5] {
	padding-top: 15px
}

.user-name[data-v-249ceee5] {
	margin-top: 13px
}

.is-grey[data-v-249ceee5] {
	background-color: #f6f6f6 !important
}

.message-card[data-v-249ceee5] {
	height: auto;
	margin-bottom: 20px;
	float: left;
	border-radius: 99px;
	margin-top: -3px;
	word-break: break-all
}

.mine[data-v-249ceee5] {
	float: right;
	margin-right: 15px
}

.message-content[data-v-249ceee5] {
	width: -webkit-fit-content !important;
	width: -moz-fit-content !important;
	width: fit-content !important;
	padding-top: 8px;
	padding-bottom: 8px
}

.new-message[data-v-249ceee5] {
	float: left;
	width: 100%
}

.full-with-nav[data-v-249ceee5] {
	margin-top: -36px
}

.people[data-v-249ceee5] {
	padding-top: 25px
}

.typewrite[data-v-249ceee5] {
	width: 89%;
	box-shadow: none;
	-webkit-box-shadow: none;
	border-radius: 0;
	height: 60px;
	background-color: #fafafa;
	border-left: 0;
	border-bottom: 0;
	border-right: 0;
	border-top: 1px solid rgba(0, 0, 0, .2);
	padding-left: 90px !important;
	padding-right: 0 !important;
	font-size: 16px
}

.typewrite[data-v-249ceee5]:focus {
	box-shadow: none;
	-webkit-box-shadow: none;
	border-color: rgba(0, 0, 0, .3);
	float: left
}

.send-button[data-v-249ceee5] {
	height: 60px !important;
	font-weight: 700;
	font-size: 15px;
	width: 10%;
	border-radius: 0;
	background-color: #fafafa;
	border-left: 0;
	border-bottom: 0;
	border-right: 0;
	border-top: 1px solid rgba(0, 0, 0, .2);
	padding-left: 0
}

.file.is-boxed .file-cta[data-v-249ceee5] {
	color: rgba(0, 0, 0, .4);
	margin-top: -14px;
	margin-left: -42px;
	font-size: 25px;
	border-radius: 0 !important;
	border-color: transparent !important
}

.is-boxed[data-v-249ceee5] {
	width: 70px;
	height: 60px;
	background-color: #fafafa !important;
	border-color: transparent !important;
	border-radius: 0 !important;
	border-top: 1px solid rgba(0, 0, 0, .2) !important;
	font-size: 12px;
	padding: 0;
	margin-bottom: -60px;
	z-index: 999
}

#app {
	font-family: Avenir, Helvetica, Arial, sans-serif;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
	text-align: center;
	color: #2c3e50
}

.notification-content {
	font-size: 15px;
	font-weight: 500
}
